body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#aboutId,
#contactId,
#signupId,
#loginId,
#homeId,
#logoutId {
  text-decoration: none;
  color:black;
}

header {
  background-color: rgba(255, 255, 255, 0.4);
}
.header {
  display: flex;
  justify-content: center;
  align-items: center; 
  list-style-type: none;
  text-align: center;
  width: 100%; 
}

.nav {
  list-style: none;
  padding: 0;
  text-align: center;
}

.nav-item .nav-link.active {
  border-top: 2px solid deepskyblue !important;
}

.nav-link:hover {
  outline:none !important;
}

.nav.nav-tabs {
  border: none; 
}

.nav-item {
  border-top: 0.2rem solid transparent;
  transition: border-top-color 0.2s;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .5rem;
}

.nav-item:hover {
  border-top-color:  deepskyblue;
}

@media (min-width: 800px) {
  .nav {
    display: flex;
    justify-content: space-evenly;
  }
}

.error-msg {
  padding-top: 30px;
}

#aboutId.active,
#contactId.active,
#signupId.active,
#loginId.active,
#homeId.active,
#logoutId.active {
  text-decoration: underline deepskyblue solid 5px !important;
}

body {
  background-image: url('./assets/oliaDanilevichPhotoBg.jpg');
  background-size: cover;
  background-position:top;
}

.header {
  text-decoration: underline 5px black;
}

.is-teacher-checkbox {
  text-align: center;
  display: block;
}

footer {
  background-color: deepskyblue;
  height: 8rem;
}

.announcement-bg {
  background-color: deepskyblue !important;
}
